body {
    padding: 0;
    margin: 0;
}
/*
.container{
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
    margin: 10px;
}

.content{
    background-color: yellow;
    border: 5px solid grey;
    padding: 5px;
}
outline: 5px solid grey; não funciona junto da box model
é como se adicionasse uma camada superior ao modelo*/
.square{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
    box-sizing: border-box;
}
.square2{
    width: 100px;
    height: 100px;
    background-color: yellow;
    
}