*{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    max-width: 640px;
    max-height: 1014px;
}

.container{
    background-color: #f3f3f3;
}
.inside {
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    max-height: 950px;
  
}
header{


    background-image: url("./Imagens/Header.png");
    background-size: 600px 140px;
    top: 20px;
   


}

