body{
    width: 400px;
    height: 200px;
    background-color: black;
}

#cartao{
    background-image: url(./Imagens/backgorund.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}

.redes{
    margin-left: 40px;

}
#Nome {
    margin: 5px;
    padding: 15px;

}
p{
    font-family: 'Courier New', Courier, monospace;
}